html {
  font-size: 10px;
  font-family: "Comic Relief", system-ui;
  background-color: #e5fffd;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #fbf78e;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #797972;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}
