html {
  font-size: 10px;
  font-family: "Comic Relief", system-ui;
  background-color: #d9d9d9;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid #6b7280;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #575757;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 14px;
  color: #575757;
}

h3 {
  font-size: 12px;
  color: #575757;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 5%;
}

p,
li {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #575757;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

.btn_group {
  display: flex;
}

.project_btn {
  margin-right: 16px;
}

.bullet_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 32px;
  list-style-position: inside;
  padding-left: 0;
}

.job_education_header {
  display: flex;
  justify-content: space-between;
}

/*

p : selector, select element to style
{}: declatation, set value for property, e.g. color, property value set to red
whole structure is ruleset

; : to seperate one declaration
: : within each declaration, seperate property and value

multiple selectors in one rule, seperated by commas
p, 
.myclass,
#my-id {
  color: red;
}

px means "pixels", base font size is now 10 pixels high
Replace PLACEHOLDER with the font-family property value you got from Google Fonts

properties: 
padding 4 value         : space around the content, top right btm left order
border 3 value          : solid line outside the padding, width, style, color
margin 2 value          : space outside the border, top bottom, left right, can use auto for left right value
width 1 value           : width of an element
background-color 1 value: color behind an element's content or padding
color 1 value           : color of an element's content
text-shadow 4 value     : a drop shadow on text inside element, horizontal, vertical, blur radius, base color
display                 : display mode
max-width 1 value       : ensure image is larger than width, 100%

body element is a block element, it takes up space on the page and can accept margin, padding, and other box properties
img is inline element, it don't accept margin value, use display: block

*/
