html {
  font-size: 10px;
  font-family: "Comic Relief", system-ui;
  background-color: #d9d9d9;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid #6b7280;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #575757;
  text-shadow: 3px 3px 1px black;
}

h2 {
  font-size: 14px;
  color: #575757;
}

h3 {
  font-size: 12px;
  color: #575757;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 5%;
}

p,
li {
  font-size: 12px;
  line-height: 1.4;
  letter-spacing: 0px;
  color: #575757;
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

.btn_group {
  display: flex;
}

.project_btn {
  margin-right: 16px;
}

.bullet_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 32px;
  list-style-position: inside;
  padding-left: 0;
}

.job_education_header {
  display: flex;
  justify-content: space-between;
}
